/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
npm-debug.log
yarn-error.log
.env
/public/js
/public/css
/public/mix-manifest.json
phpunit.dusk.xml
package-lock.json
yarn.lock
