// Round button
.btn-circle {
    width: 24px;
    height: 24px;
    padding: 5px 0px;
    border-radius: 12px;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;

    &.small {
        width: 11px;
        height: 11px;
        padding: 0px 0px;
        font-size: 5px;
    }

    &.yellow {
        background: #ffc600;
    }

    &.yellow:hover {
        background: #ffc600;
    }

    &.yellow:focus {
        background: #ffc600;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    &.black {
        background: black;
    }

    &.black:hover {
        background: black;
    }

    &.black:focus {
        background: black;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    &.red {
        background: #ff3200;
    }

    &.red:hover {
        background: #ff3200;
    }

    &.red:focus {
        background: #ff3200;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.btn-primary {
    background-color: #1e70cd !important;
}

.button-caption {
    font-size: 13px;
}

// Range slider
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 1px solid black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

// input form
.input-form {
    font-size: 20px;
}

// checkbox
.mid-checkbox {
    margin-left: 12px !important;
}

.mid-checkbox .custom-control-label::before {
    width: 18px;
    height: 18px;
    margin-top: 3px;

    &:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.mid-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #ffc600 !important;
    background-color: #ffc600 !important;
}

/* The toggle slider */
.switch input {
    display: none;
}

.switch input {
    display: none;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px;
    margin-left: 10px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked + .toggle-slider {
    background-color: #ffc600;
}

input:checked + .toggle-slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded toggle slider */
.toggle-slider.round {
    border-radius: 34px;
}

.toggle-slider.round:before {
    border-radius: 50%;
}

.custom-control {
    margin-left: 10px;
}


// Modal
.radius-modal {
    border-radius: 20px 0 20px 20px !important;
}

.bg-yellow {
    background: $line-yellow;
    &.btn {
        &:hover, &:active {
            background-color: $line-yellow;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.text-yellow {
    color: $line-yellow;
}

.sk-yellow {
    .sk-rect-fix {
        background-color: $line-yellow;
    }
}

.pr-4vw {
    padding-right: 4vw;
}
